* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    margin: 0;
}


/* Body Container */ 

.flex-column-container-body {
    width: 100%;
    margin: auto;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
}

/* HEADER Container*/

.flex-container-header {
    background-color: #011755;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 16px;
}

.header-links {
    display: flex;
}

.header-links a {
    color: white;
    padding-right: 10px;
    text-decoration: none;
    font-size: 14px;
}

.header-logo {
    font-size: 32px;
    font-weight: bold;
}



/* nav */

.flex-container-nav {
    border-bottom: 1px solid black;
    display: flex;
    padding: 6px 16px;
}

.flex-container-nav > a {
    text-decoration: none;
    color: black;
    font-size: 14px;
    padding-left: 8px;
}

/* main & aside containers */

.flex-containr-main-and-aside-plus-stretch {
    display: flex;
    flex:1; /* takes remaining hight because body (The parent) if column flex container.*/
    gap: 20px;
}

.flex-container-main-plus-stretch {
    padding: 16px 0;
    flex: 1;  /* takes remaining width because flex-containr-main-and-a (The parent) if  flex container.*/
    display: flex;
    gap: 20px;
}

/* center content */

.flex-column-container-sections-plus-stretch {
    background-color: #e9e9e9;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

/* TOP STRIP */

.container-section-chart {
        width: 100%;
        height: auto;
}


/* offers */

.flex-wrap-container-offers-sections {
    display: flex;
    flex-wrap: wrap;
}

.flex-container-offer-section {
    display: flex;
    width: 100%;
    margin-top: 10px;
}

.container-artice {
    width: 32%;
    /* slightly smaller so 3 fit in one row */
    height: 150px;
    border: 1px solid black;
    margin: 5px;
    /* creates spacing */
}

/* right sidebar */

.flex-column-container-aside {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px; 
}

.sidebar-button {
    width: 100%;
    padding: 6px;
    border-radius: 20px;
    border: 1px solid #00b8ff;
    background-color: #00b8ff;
    color: white;
    font-size: 13px;
    cursor: pointer;
}

.sidebar-a-button {
    display: block;               /* makes the <a> behave like a button */
    width: 100%;
    padding: 6px;
    text-align: center;           /* centers the text horizontally */
    text-decoration: none;        /* removes underline */
    border-radius: 20px;
    border: 1px solid #00b8ff;
    background-color: #00b8ff;
    color: white;
    font-size: 13px;
    cursor: pointer;
}


/* footer */

.flex-container-footer {
    border-top: 1px solid black;
    background-color: #e9e9e9;
    display: flex;
}

.flex-container-footer>a {
    text-decoration: none;
    color: black;
    font-size: 14px;
    padding: 6px 16px;
}